.hover:hover .reply{
  display: block;
}
.reply_box{
  display: flex;
  align-items: center;
}
.reply{
  font-size: 12px;
  cursor:pointer;
  transform: translateY(10px);
  margin-left: 10px;
  /* width: 40px; */
  /* height: 10px; */
  padding: 5px 5px;
  text-align: center;
  background-color: #eff4ff;
  border-radius: 50%;
  display: none;
}
.none{
  display: none;
}
